<template>
  <section id="add" class="row form">
    <div class="column-12">
      <h2>Publier un nouvel article</h2>
      <form v-on:submit.prevent="onSubmitAddPost">
        <label for="post-title">Titre</label>
        <input type="text" v-model="newPost.title" id="post-title">
        <label for="post-body">Contenu</label>
        <textarea v-model="newPost.body"  id="post-body"></textarea>
        <button type="submit" class="button primary">Publier</button>
      </form>
    </div>
  </section>
</template>

<script>
export default {
  props: ['onSubmitAddPost', 'newPost']
}
</script>
