@import '../../assets/scss/helpers/variables.scss';
@import '../../assets/scss/atoms/buttons.scss';
@import '../../assets/scss/atoms/form.scss';

.accordion-container{
  border: 1px solid clr(primary);
  border-radius: $global-radius;
  li:not(:last-of-type){
    border-bottom: 1px solid clr(primary);
  }
}

.accordion{
  &--header{
    padding: 1rem;
    background-color: rgba(clr(primary),0.1);
    @media #{$md}{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
    }
  
    &__title{
      display: flex;
      cursor: pointer;
      @media #{$md}{
        width: 60%;
      }
      &:before{
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        display: inline-block;
        background-image: url('data:image/svg+xml;utf8,<svg fill="#9575CD" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>');
        background-repeat: no-repeat;
        background-size: 4rem;
        background-position: center center;
        transition: transform $anim;
      }
      h3{
        margin-left: 1rem;
        width: calc(100% - 2.5rem);
        user-select: none;
      }
    }
  
    &__actions{
      margin-top: 1rem;
      padding-left: 3.5rem;
      @media #{$md}{
        margin-top: 0;
        padding-left: 0;
        width: 40%;
        text-align: right;
      }
      button:first-of-type{
        margin-right: 1rem;
      }
    } 
  }
  &--content{
    padding: 2rem;
    background-color: rgba(clr(primary),0.05);
    border-top: 1px solid rgba(clr(primary),0.5);
    @media #{$md}{
      padding: 2rem 4rem;
    }
  }
  &.isopen{
    .accordion--header__title:before{
      transform: rotate(90deg);
    }
  }
}