<template> 
  <main>
    <div v-if="loading">
      Loading
    </div>
    <header-blog />
    <section class="row">
      <div class="column-12">
        <div v-show="hasposts">
          <p class="text-right">Articles publiés&nbsp;: <strong>{{ countPost }}</strong></p>
        </div>
        <ul class="no-bullet accordion-container">
          <post-item v-for="(post, index) in posts" :key='index' :post="post" :onEditPost="onEditPost" :savePost="savePost" :deletePost="deletePost"/>
        </ul>
      </div>
    </section>
    <form-add-post :onSubmitAddPost="onSubmitAddPost" :newPost="newPost" />
    <footer-blog />
  </main>
</template>

<script>
  import HeaderBlog from '../../Header/Header';
  import FooterBlog from '../../Footer/Footer';
  import PostItem from '../PostItem/PostItem';
  import FormAddPost from '../FormAddPost/FormAddPost';

  import Vue from 'vue';
  import VueResource from 'vue-resource';

  Vue.use(VueResource);

  const getChild = (post, obj) => {
    const indexPost = post.id + 2;
    return obj.$children[indexPost];
  }

  export default {
    data (){
      return{
        posts: [],
        newPost: [{
          id: '',
          title: '',
          body: ''
        }],
        loading: false,
      }
    },
    mounted(){      
      this.$post = this.$resource('posts{/id}', {}, {}, {
        before: () => {
          this.loading = true;
        },
        after: () => {
          this.loading = false;
        }
      });
      this.$post.query().then((response) => {
          this.posts = response.data;
        },(response) => {
          console.log('error', response);
        }
      )
    },
    methods: {
      onSubmitAddPost (){
        const newPostId = this.posts.length + 1;
        this.$post.save({
          id: newPostId,
          title: this.newPost.title,
          body: this.newPost.body
        }).then((response) => {
          this.posts.push({
            id: this.newPost.id,
            title: this.newPost.title,
            body: this.newPost.body
          })
        }, (response) => {
          console.log('error', response);
        });
      },
      onEditPost (post) {
        const child = getChild(post, this);
        child.isActive = true;
        child.editing = post;
        child.oldPostTitle = post.title ;
        child.oldPostBody = post.body;
        child.oldPostId = post.id;
      },
      savePost (post){
        const child = getChild(post, this);
        this.$post.update({id: post.id}, {
          title: post.title,
          content: post.content
        }).then((response) => {
        }, (response) => {
          console.log('error', response);
        });
        child.editing = null;
      },
      deletePost (post) {
        const child = getChild(post, this);
        this.$post.remove({id: post.id}).then((response) => {
          this.posts = this.posts.filter(p => p !== post);
        }, (response) => {
          console.log('error', response);
        });
      },
    },
    computed: {
      hasposts (){
        return this.posts.length > 0;
      },
      countPost (){
        return this.posts.length;
      },
    },
    components: {
      HeaderBlog,
      PostItem,
      FormAddPost,
      FooterBlog
    },
  }
</script>

<style lang="scss">
  @import '../index.scss'
</style>
