.button{
  padding: 0.8rem 2.2rem;
  border-radius: $global-radius;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  transition: background-color $anim, color $anim;
  &.primary{
    background-color: clr(primary);
    color: clr(white);
    &:hover, &:focus{
      background-color: clr(primary-dark);
    }
  }
  &.secondary{
    background-color: clr(gray);
    &:hover, &:focus{
      background-color: clr(gray-dark);
      color: clr(white);
    }
  }
}