label{
  display: block;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: clr(gray-darker);
  font-family: $ff-arial;
}

input, textarea{
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding: 0.8rem 1.8rem;
  border: 1px solid clr(gray);
  border-radius: $global-radius;
  font-size: 1.4rem;
  font-family: $ff-arial;
  line-height: 1.5;
}

textarea{
  min-height: 15rem;
}

.form{
  padding: 4rem 0 8rem;
}