<template>
  <footer class="row">
    <div class="column-12">
      <p class="text-center">Fait avec fun par Cyrielle</p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style lang="scss" scoped>
  @import './index.scss';
</style>


