//
//  C O M M O N S
//
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

*{
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  @extend .text;
  color: clr(black);
  overflow-x: hidden;
  margin-bottom: 0 !important;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img{
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}