//
//  T Y P O G R A P H Y
//
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

//  Paragraphs
//  ───────────────────────────────────

p,
.text{
  font-family: $ff-arial;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.425;
  max-width: 100%;

  &:not(.no-margin){
    margin: 0 0 2rem 0;
  }
}

//  Headings
//  ───────────────────────────────────
h1,
.h1{
  font-family: $ff-arial;
  font-weight: 600;
  color: clr(black);
  font-size: 3rem;
  line-height: 1.5;

  &:not(.no-margin){
    margin-bottom: 1rem;
  }
}
h2,
.h2{
  font-family: $ff-arial;
  font-weight: 600;
  color: clr(black);
  font-size: 2.2rem;
  line-height: 1.5;

  &:not(.no-margin){
    margin-bottom: 2.8rem;
  }
}
h3,
.h3{
  font-family: $ff-arial;
  font-weight: 400;
  color: clr(black);
  font-size: 1.8rem;
  line-height: 1.5;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

//  List
//  ───────────────────────────────────
ol,
ul{
  list-style-position: inside;
  margin-bottom: 2rem;
  &.no-bullet{ list-style: none; }
}
ol:not(.no-bullet){
  list-style: none;
  counter-reset: my-list;
  li{
    &:before{
      counter-increment: my-list;
      display: inline-block;
      position: relative;
      content: counters(my-list, ".") ".";
      margin-right: 1rem;
      font-weight: 600;
    }
  }
}

//  Links
//  ───────────────────────────────────
a{
  display: inline-block;
  transition: color $anim;
  color: clr(primary);
  text-decoration: underline;
  cursor: pointer;
  &:hover, &:focus{
    color: clr(primary-dark);
  }
}