//
//  V A R I A B L E S
//
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

//  Colors
//  ───────────────────────────────────

@function clr($key){
  @return map-get($colors, $key);
}

$colors: (
  primary: #9575CD,
  primary-dark: #673AB7,
);

$colors: map-merge((
  alert: #EF6F6C,
  alert-dark: #E0244F,
  warning: #FFD275,
  info: #6DD3CE,
  success: #74C080,
), $colors);

$colors: map-merge((
  black: #2b292f,
  blue-dark: #576ca8,
  gray-darker: #585563,
  gray-dark: #87868c,
  gray: #d3d3d6,
  gray-light: #eff0f0,
  gray-lighter: #f9f9f9,
  white: #fefefe
), $colors);


//  Fonts
//  ───────────────────────────────────

$ff-arial: Arial, sans-serif;

//  Animations
//  ───────────────────────────────────
$anim-duration: 250ms;
$anim-easing: cubic-bezier(.55,0,.1,1) ;
$anim: $anim-duration $anim-easing;

//  Grid
//  ───────────────────────────────────

$row-width: 96rem;
$container-width: 100%;
$total-columns: 12;
$column-gutter: 2rem;
$column-width: 6rem;

.row{
  position: relative;
  max-width: $row-width;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

[class*="column"]{
  display: flex;
  flex-direction: column;
  padding: 0 $column-gutter;
}

@for $i from 1 through $total-columns{
  $column-width-percent : (100% * ($i*($column-width+$column-gutter))) / $row-width;
  .column-#{$i}{
    width: $column-width-percent;
    max-width: $column-width-percent;
    flex: 0 0 $column-width-percent;
  }
}


//  Breakpoints
//  ───────────────────────────────────
/*---
  title:   Breakpoints
  section: Variables
  ---
  We have 3 main breakpoints based on Foundation and usefull in mobile first development.
  `$sm` is used for style for mobile, tablet and desktop (equals to no media query)
  `$md` is used for style for tablet and desktop `(min-width: 641px)`
  `$lg` is used for style for desktop only `(min-width: 1025px)`
*/
$sm-breakpoint:  640px;
$md-breakpoint: 1024px;
$lg-breakpoint: 1440px;

$sm-range:   (0, $sm-breakpoint);
$md-range:  ($sm-breakpoint  + 1px, $md-breakpoint);
$lg-range:   ($md-breakpoint + 1px, $lg-breakpoint);

$screen: "only screen";

$sm-up: $screen;
$sm-only: "#{$screen} and (max-width: #{nth($sm-range, 2)})";

$md-up: "#{$screen} and (min-width:#{nth($md-range, 1)})";
$md-only: "#{$screen} and (min-width:#{nth($md-range, 1)}) and (max-width:#{nth($md-range, 2)})";

$lg-up: "#{$screen} and (min-width:#{nth($lg-range, 1)})";
$lg-only: "#{$screen} and (min-width:#{nth($lg-range, 1)}) and (max-width:#{nth($lg-range, 2)})";

$retina: (
  "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
  "#{$screen} and (min--moz-device-pixel-ratio: 2)",
  "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
  "#{$screen} and (min-device-pixel-ratio: 2)",
  "#{$screen} and (min-resolution: 192dpi)",
  "#{$screen} and (min-resolution: 2dppx)"
);

// Legacy
$sm: $sm-up;
$md: $md-up;
$lg: $lg-up;

$bps: (
 #{$sm} 'sm',
 #{$md} 'md',
 #{$lg} 'lg'
);

//  Others
//  ───────────────────────────────────
$global-radius: 4px;