<template>
  <li :class="{ isopen: isActive }" class="accordion"> 
    <div class="accordion--header">
      <div @click="toggle" class="accordion--header__title">
        <h3>{{ post.title }}</h3>
      </div>
      <div class="accordion--header__actions">
        <button v-on:click.prevent="onEditPost(post)" class="button primary">Editer</button>
        <button v-on:click.prevent="deletePost(post)" class="button secondary">Supprimer</button>
      </div>
    </div>
    <div v-show="isActive" class="accordion--content">
      <p>{{ post.body }}</p>
      <div v-if="editing" class="">
        <label for="">Titre</label>
        <input type="text" v-model.lazy="post.title" v-focus="editing">
        <label for="">Contenu</label>
        <textarea v-model.lazy="post.body"></textarea>
        <button v-on:click="savePost(post)" class="button primary">Valider</button>
      </div>
    </div>
  </li>
</template>

<script>
import Vue from 'vue';
import VueResource from 'vue-resource';

Vue.use(VueResource);

export default {
  props: ['post', 'onEditPost', 'savePost', 'cancelEdit', 'deletePost'],
  data () {
    return {
      filter: 'all',
      editing: null,
      isActive: false
    }
  },
  methods: {
    toggle: function (post) {
      this.isActive = !this.isActive;
    }
  },
  directives: {
    focus (el, value) {
      if (value){
        Vue.nextTick(_ => {
          el.focus();
        });
      }
    }
  }
}
</script>