<template>
  <header class="row">
    <div class="column-12">
      <h1>Bienvenue sur le blog de Troa :)</h1>
      <a href="#add" class="smoothscroll">Créer un nouvel article →</a>
    </div>
  </header>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
  @import './index.scss';
</style>


